html{
    background-color: rgb(72, 240, 203); 
    min-width: 360px;
    max-width: 1000px;
  }
  
  section{
    background-color: rgb(205, 188, 221);
    align-items: center;
    display:flex;
    flex-direction: row;
  }

  section h1{
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    margin:0;
    padding: 1rem;
  }

  .menu {
    background-color: bisque;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    list-style-type:none;
    margin: 0 auto;
    padding:5px;
    text-align: center;
  }

  .nav-link{
    align-items:center;
    font-size: 1.2rem;
    font-weight: bold;
    grid-column:span 12;
    padding:1rem;
    text-decoration: none;
  }

  main{
    background-color: azure;
  }
  
  form{
      display: grid;
      grid-template-columns: repeat(12,1fr);
  }

  label{
      grid-column:span 12;
      font-size: 1.3rem;
      margin: 1rem;
      text-align: center;
  }

  input{
      grid-column: span 12;
      font-size: 1.3rem;
  }

  select{
      grid-column: span 12;
      font-size: 1.3rem;
      margin: 1rem;
      padding: 1rem;
      text-align: center;
  }

  button{
      background-color: coral;
      grid-column: span 12;
      font-size: 1.3rem;
      margin: 1rem;
      padding: 1rem;
      text-align: center;
  }

  footer{
    background-color: rgb(188, 209, 149);
    display:grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1rem;
    text-align: center; 
  }

  .footer-link{
    grid-column:span 12;
    align-items:center;
    font-size: 1rem;
    font-weight: bold;
    padding:1rem;
    text-decoration: none;
  }

  @media screen and (min-width:60rem) {
      .nav-link{
        grid-column: span 4;
      }
      label{
        grid-column: span 6;
      }
      input{
        grid-column: span 6;
      }
      select{
        grid-column: span 6;
      }
      button{
        grid-column: span 6;
      }
      .footer-link{
        grid-column: span 4;
      }
      
  }