html{
    background-color: rgb(72, 240, 203); 
    
  }
  
  section{
    background-color: rgb(205, 188, 221);
    align-items: center;
    display:flex;
    flex-direction: row;
  }

  section h1{
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    margin:0;
    padding: 1rem;
  }

  .menu {
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    list-style-type:none;
    margin: 0 auto;
    padding:5px;
    text-align: center;
  }

  .toggle{
    background-color: green;
    color: aliceblue;
    font-size: 1.2rem;
    margin: 0.5rem;
    padding:1rem;
    text-align: center;
  }

  ul {
    padding: 0%;  
  }
  
  li {
    list-style: none;
    padding: 1rem;
    position: relative;
  }
  
  .item {
    color: blue;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    grid-column: span 2;
  }
  
  .drop {
    background-color: bisque;
    display: block;
    left: 0;
    max-width: 400px;
    min-width: 100%;
    position: absolute;
    top: 100%;
  }
  
  .drop.active {
    display: none;
  }
  
  .nav-link{
    align-items:center;
    font-size: 1.2rem;
    font-weight: bold;
    grid-column:span 12;
    padding:1rem;
    text-decoration: none;
  }

  main{
    background-color: darkgrey;
  }

  main h2{ 
      align-items: center;
      font-size: 2.5rem;
      margin: 1rem;
      padding: 2rem;
      text-align: center;
  }

  .cards{
      display:grid;
      grid-template-columns: repeat(12,1fr);
      gap: 1rem;
      justify-content: space-around;
  }

  .card1 , .card2 , .card3 , .card4{
      grid-column: span 12;
      border:1px solid black;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items:center;
      font-size: 1.2rem;
      margin: 1rem;
      padding:1rem;
      text-align: center;
  }
  
  .card1{
    background-color: aqua;
  }

  .card2{
    background-color: cornflowerblue;
  }

  .card3{
    background-color: burlywood;
  }

  .card4{
    background-color: chocolate;
  }
  .card-link{
      background-color: green;
      border-radius: 2rem;
      color: white;
      padding:0.5rem;
      margin: 1 rem;
      text-decoration: none;
  }

  a.card-link:hover{
    background-color: white;
    color: blue;
  }


  footer{
    background-color: rgb(188, 209, 149);
    display:grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1rem;
    text-align: center; 
  }

  .footer-link{
    grid-column:span 12;
    align-items:center;
    font-size: 1rem;
    font-weight: bold;
    padding:1rem;
    text-decoration: none;
  }

  @media screen and (min-width:60rem) {
      
      .footer-link{
        grid-column: span 4;
      }

      .nav-link{
        grid-column: span 4;
      }

      .card1 , .card2 , .card3 ,.card4{
        grid-column: span 3;
      }
      
  }